# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Build directories
build/
bin/

# Dependency directories
lib/
vendor/

# IDE and editor files
.vscode/
.idea/
.cache/
*.sln
*.vcxproj
*.xcodeproj

# Miscellaneous
.DS_Store
Thumbs.db
